<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Atualizar Formulário</h1>

    <form action="/" method="POST">
        <label for="nome">Atualize seu nome:</label>
        <input type="text" id="nome" name="nome" placeholder="<%=nome%>" value="<%=nome%>">
        <br>

        <label for="sobrenome">Atualize seu sobrenome:</label>
        <input type="text" id="sobrenome" name="sobrenome" placeholder="<%=sobrenome%>" value="<%=sobrenome%>">
        <br>

        <label for="idade">Atualize sua idade</label>
        <input type="text" id="idade" name="idade" placeholder="<%=idade%>" value="<%=idade%>">
        <br>

        <label for="pais">Atualize seu país</label>
        <input type="text" id="pais" name="pais" placeholder="<%=pais%>" value="<%=pais%>">
        <br>
        
        <input type="submit" value="Atualizar">
    </form>
</body>
</html>