<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulário de Idade</h1>

        <label for="nome">Nome:</label>
        <p id="nome" name="nome" value="<%=nome%>"><%=nome%></p>
        <br>

        <label for="sobrenome">Sobrenome:</label>
        <p id="sobrenome" name="sobrenome" value="<%=sobrenome%>"><%=sobrenome%></p>
        <br>

        <label for="idade">Idade</label>
        <p id="idade" name="idade" value="<%=idade%>"><%=idade%></p>
        <br>

        <label for="pais">País</label>
        <p id="pais" name="pais" value="<%=pais%>"><%=pais%></p>
        <br>
        
</body>
</html>